body {
  font-family: serif;
  margin: 40px;
  color: #111;
}

a {
  color: blue;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.nav a {
  margin-left: 20px;
}

.projects-index {
  max-width: 1000px;
  margin: auto;
}

select {
  border: none;
  font-size: 16px;
  margin-bottom: 30px;
}

.filter {
    display: flex;
    gap: 1rem; /* espacio entre botones */
    margin-bottom: 20px;
    justify-content: start; /* alineado al inicio de la tabla */
}

.projects-table.header,
.projects-table.row {
    display: grid;
    grid-template-columns: minmax(60px, auto) 1fr minmax(80px, auto) minmax(80px, auto);
    gap: 1.5rem; /* espacio flexible entre columnas */
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    align-items: center;
}


@media (max-width: 600px) {
    .projects-table.header,
    .projects-table.row {
        display: grid;
        grid-template-columns: 1fr; /* todo en una columna */
        gap: 0.5rem;
        text-align: left;
    }

    .projects-table.header span {
        display: none; /* opcional: ocultar encabezados */
    }

    .project-row span {
        display: block; /* cada dato en su línea */
    }

    .project-details img {
        width: 100%; /* imágenes adaptables */
        height: auto;
    }
}



.projects-table.header span {
    font-weight: bold;
}

.expand {
  cursor: pointer;
}

.project-details {
  grid-column: 1 / -1;
  display: none;
  padding: 20px 0;
}

.project-details img {
  width: 200px;
  margin-right: 10px;
}


