body {
  font-family: serif;
  margin: 40px;
  color: #111;
}

a {
  color: blue;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.nav a {
  margin-left: 20px;
}

.projects-index {
  max-width: 1000px;
  margin: auto;
}

select {
  border: none;
  font-size: 16px;
  margin-bottom: 30px;
}

.filter {
    display: flex;
    gap: 1rem; /* espacio entre botones */
    margin-bottom: 20px;
    justify-content: start; /* alineado al inicio de la tabla */
}

.projects-table.header,
.projects-table.row {
    display: grid;
    grid-template-columns: 100px 1fr 150px 150px; /* columnas fijas y flexible */
    column-gap: 3cm; /* separación entre columnas */
    text-align: center; /* centra el texto dentro de cada columna */
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    align-items: center; /* centra verticalmente */
}

.projects-table.header span {
    font-weight: bold;
}

.expand {
  cursor: pointer;
}

.project-details {
  grid-column: 1 / -1;
  display: none;
  padding: 20px 0;
}

.project-details img {
  width: 200px;
  margin-right: 10px;
}

