body {
  font-family: serif;
  margin: 40px;
  color: #111;
}

a {
  color: blue;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.nav a {
  margin-left: 20px;
}

.projects-index {
  max-width: 1000px;
  margin: auto;
}

select {
  border: none;
  font-size: 16px;
  margin-bottom: 30px;
}

.projects-header,
.project-row {
  display: grid;
  grid-template-columns: 80px 1fr 200px 200px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.expand {
  cursor: pointer;
}

.project-details {
  grid-column: 1 / -1;
  display: none;
  padding: 20px 0;
}

.project-details img {
  width: 200px;
  margin-right: 10px;
}
